
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10em;
}

.card-image img{
  padding-top: 1.5rem;
 width: 150px;
 height: 150px;
 transition: .2s ease-in-out;
}
.card-image img:hover{
  transform: scale(1.2);
}
.card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 2rem;
  border: 1px solid lightgray;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
button{
  padding: 15px 20px;
  border: none;
  outline: none;
  background-color: black;
  color: #fff;
}
.loading-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-bottom: 4rem;
}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #000;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}