
.revers{
display: flex;
align-items: center;
justify-content: flex-start;
gap: 1rem;
padding-left: 2rem;
}
.link{
    text-decoration: none;
    color: #000;
}
.single-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 9rem;
    margin-bottom: 5rem;
}
.image{
    width: 15%;
    height: 15%;

}
.image img{
    width: 100%;
    height: 100%;
}
.info{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
}
.info span{
    font-size: 1.2rem;
    font-weight: 700;
    color: #ef4444;
}